<template>
  <Layout>
    <h1>Contact us</h1>
    <p>Call me: +36 20 427 0116</p>
    <p>Email me: kussynorbertleo@gmail.com</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloremque omnis animi, eligendi magni a voluptatum, vitae, consequuntur rerum illum odit fugit assumenda rem dolores inventore iste reprehenderit maxime! Iusto.</p>
  </Layout>
</template>

<script>
export default {}
</script>
